body {
     display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh; /* This ensures the content is vertically centered */
      margin: 0; /* Remove default margin */
      background-color:#141416;
    }
  
    h1 {
      text-align: center; /* Center the text horizontally */
      color: #4d4d4d;
      padding: 8px;
    } 
